article(class='container' id='table')
    h1(class='title')="Productos"
    div(class='line')
    table(class='product-table')
        thead 
            tr 
                th='ID'
                th='Titulo'
                th='Precio'
                th='Imagen'

        tbody(id='productTable')
            each product in products
                tr(class='table-row')
                    td=product.id 
                    td=product.titulo 
                    td='$' + product.precio
                    td 
                        img(src=product.url, alt="" class='table-img')
