article(class='container')
	h1(class='heading')='Agregar Productos al Listado'
	div(class='line')
	form(action="/productos" method='POST' class='form-section')
		div(class='form-group')
			label(for="titulo")='Titulo:'
			input(type="text" name='titulo' required)
		div(class='form-group')
			label(for="precio")='Precio:'
			input(type="number" name='precio' required)
		div(class='form-group')
			label(for="url")='Url:'
			input(type="text" name='url' required)
		button='Agregar Producto'
		a(href="/productos")='Ir a Productos' 

