article(class='container' id='table')
    h1(class='title')="Carrito"
    div(class='line')
    section(class='cart-table')
        if cart.length == 0 
            h3='Parece que no has agregado nada'
            a(href="/" class='m-auto') 
                button='Comprar libros'
        else
            div(class='cart-table-row')
                div(class='filler')
                h2='Producto'
                h2='Precio'
                div(class='filler')
            each product in cart
                div(class='cart-table-row')
                    img(src=product.url, alt="" class='cart-table-img')
                    div=product.titulo 
                    div='$' + product.precio
                    button(class='delete-from-cart-btn' id=`${product.id}-delete-btn`)='Eliminar'
