<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body></body>
</html>
<div>
	<article class="container" id="table">
		<h1 class="title">Productos</h1>
		<div class="line"></div>
		<table class="product-table">
			<tr>
				<th>ID</th>
				<th>Titulo</th>
				<th>Precio</th>
				<th>Imagen</th>
			</tr>
			<tbody id="productTable">
				<% productList.map(function(product) { %>
				<tr class="table-row">
					<td><%- product.id %></td>
					<td><%- product.titulo %></td>
					<td>$<%- product.precio %></td>
					<td>
						<img
							src="<%- product.url %>"
							alt=""
							style="width: 2rem"
						/>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
		<a href="/">Ir a Inicio</a>
	</article>
</div>
